dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=dicenotation

matrix:
  include:
    # Android
    - env: TARGET=aarch64-linux-android DISABLE_TESTS=1
    - env: TARGET=arm-linux-androideabi DISABLE_TESTS=1
    - env: TARGET=armv7-linux-androideabi DISABLE_TESTS=1
    - env: TARGET=i686-linux-android DISABLE_TESTS=1
    - env: TARGET=x86_64-linux-android DISABLE_TESTS=1

    # iOS
    - env: TARGET=aarch64-apple-ios DISABLE_TESTS=1
      os: osx
    - env: TARGET=armv7-apple-ios DISABLE_TESTS=1
      os: osx
    - env: TARGET=armv7s-apple-ios DISABLE_TESTS=1
      os: osx
    - env: TARGET=i386-apple-ios DISABLE_TESTS=1
      os: osx
    - env: TARGET=x86_64-apple-ios DISABLE_TESTS=1
      os: osx

    # Linux
    - env: TARGET=aarch64-unknown-linux-gnu
    - env: TARGET=arm-unknown-linux-gnueabi
    - env: TARGET=armv7-unknown-linux-gnueabihf
    - env: TARGET=i686-unknown-linux-gnu
    - env: TARGET=i686-unknown-linux-musl
    - env: TARGET=mips-unknown-linux-gnu
    - env: TARGET=mips64-unknown-linux-gnuabi64
    - env: TARGET=mips64el-unknown-linux-gnuabi64
    - env: TARGET=mipsel-unknown-linux-gnu
    - env: TARGET=powerpc-unknown-linux-gnu
    - env: TARGET=powerpc64-unknown-linux-gnu
    - env: TARGET=powerpc64le-unknown-linux-gnu
    - env: TARGET=s390x-unknown-linux-gnu DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-linux-gnu
    - env: TARGET=x86_64-unknown-linux-musl

    # OSX
    - env: TARGET=i686-apple-darwin
      os: osx
    - env: TARGET=x86_64-apple-darwin
      os: osx

    # *BSD
    - env: TARGET=i686-unknown-freebsd DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-freebsd DISABLE_TESTS=1
    - env: TARGET=x86_64-unknown-netbsd DISABLE_TESTS=1

    # Windows
    - env: TARGET=x86_64-pc-windows-gnu

    # Testing other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly

before_install:
  - set -e
  - rustup self update

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: "tDDjy3Yj9lENTi6GWuu6wRC1BsHnZZfEhdbbeYMmTKcRSZT22/O6PEClouSgKMTNgmh7RwrFRQbh0HQsHnx35UQCIa7mlEBb+n8Mbr5VefddWUGU6cAdTdjvnx7qZpJ3rkEBwka1f9IWCr8483dLgRbffdZH5IkOiH0vqQCLUhIDsM2Qu+qZnVv5SpyOeQ/fmROw5C2JI6QNX4FHFwzLFEGdK3WmGDi3mtvPbFf8sk6kPeMDuzxmKeM5lL26S/id0aeebzirl5GXFlHa6phMCPqkBtbem0tS6az2KXEHN0yFQ2ROZMCiA0FDEibM8sqa7o1I1jwR2VtaxZbO38OU9y81T7WrrNFww0nLZ1iOQdQyxztZ4h28AiRJV1IRi1f6l87K9AUPUznOyPu+xbdeqr8NhZFVPV30Y3sJ/qHwofYpClaPRIE5hXyyDPwAN+R5eClj10ZPUqk2zy3CFc1yvkVKffjqi5i2Yz7I2EGGsMhw5GBQsbpHgauOKTcnNdPq3Nu66EWLSjlQbwllZaM49tT0ZbPlhc5HQk+a7kaS3Nvzb35cJ/is7UgsYECmQrE5o0YyzFe+hV0RULzwBXdbdOJW0Aw94G4MJ9+GoaJjqOi0/Hg0vhRm2zGkzFpgK0kdH8soo7xiSyy7FpZthsp2mAea/nDW1AQC6/2+lQwZu/M="
    file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
